:root {
    /* ===== Variáveis globais ===== */
    --border-color: #d1d1d1;
    --container-bg: #fff;
    --color-danger: #ff4343;
    --primary-color: #4e50d6;

    --container-padding: 1.5em;
    --field-height: 2.6em;
    --field-padding: 1.5em;
    --field-border-radius: .4em;
    --tab-padding: .4em 1.2em;
    --tab-gap: 12px;
    --fields-gap: 1.2em 1em;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Animação fade in */
@keyframes fadeIn {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

/* ===== Formulário ===== */
.carbon-fields-frontend-form {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--fields-gap);
    font-family: sans-serif;

    &::after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        animation: rotate 1s linear infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99' /%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.carbon-fields-frontend-containers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--fields-gap);

    transition: filter .4s;

    & legend {
        font-size: 1.5em;
        padding: 0 .7em;
        font-weight: 600;
    }

    & input,
    & select,
    & textarea {
        width: 100%;
        height: var(--field-height);
        border: 1px solid var(--border-color) !important;
        border-radius: var(--field-border-radius) !important;
        outline: none;
        font-size: 1em;
        line-height: 1.2em;
        transition: border-color 0.5s ease, background-color 0.5s ease;

        &.required {
            border-color: var(--color-danger) !important;
            background-color: #fcf2f2;

            &::placeholder {
                color: color-mix(in srgb, var(--color-danger) 20%, rgba(0, 0, 0, 0.5) 80%);

            }
        }
    }

    & .crossref-field {
        width: 100%;
        flex-grow: 1;
        gap: .5em;
        display: flex;
        flex-direction: column;
    }

    & .carbon-fields-frontend-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--fields-gap);
        border: 1px solid var(--border-color);
        border-radius: var(--field-border-radius);
        padding: var(--container-padding);
        background: var(--container-bg);
    }

    & .carbon-fields-frontend-label {
        width: 100%;
        font-weight: 500;
    }
}

/* ===== Complex Fields ===== */
.carbon-fields-frontend-complex-field {
    flex-wrap: wrap;
    background: var(--container-bg);
}

.carbon-fields-frontend-complex-items {
    background: var(--container-bg);
    gap: var(--fields-gap);
    flex-wrap: wrap;
}

.carbon-fields-frontend-complex-item {
    display: none;
    flex-wrap: wrap;
    gap: var(--fields-gap);
    border: 1px solid var(--border-color);
    border-radius: 0 var(--field-border-radius) var(--field-border-radius) var(--field-border-radius);
    padding: var(--container-padding);
    background: var(--container-bg);
    animation: fadeIn 0.4s ease-in forwards;
    margin-top: -1px;
}

.carbon-fields-frontend-complex-item.active {
    display: flex;
}

/* ===== Tabs ===== */
.carbon-fields-frontend-complex-tab-list {
    display: flex;
    gap: 0 var(--tab-gap);
    padding: 0;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    width: fit-content;
}

.carbon-fields-frontend-complex-tab,
.carbon-fields-frontend-complex-tab-add {
    padding: var(--tab-padding);
    cursor: pointer;
    border: 1px solid var(--border-color);
    background: #f5f5f5;
    border-radius: var(--field-border-radius) var(--field-border-radius) 0 0;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-align: center;
    text-overflow: ellipsis;


    &.carbon-fields-frontend-complex-tab-add {
        background: var(--primary-color);
        color: white;
        border-color: var(--primary-color) !important;
        z-index: 1;
    }
}

.carbon-fields-frontend-complex-tab.active {
    background: var(--container-bg);
    font-weight: bold;

    position: relative;
}

.carbon-fields-frontend-complex-tab.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--container-bg);
    z-index: 1;
}

/* ===== Layout Horizontal / Vertical ===== */
.carbon-fields-frontend-complex-field.tabbed-horizontal {
    display: flex;
    flex-direction: column;

    & .carbon-fields-frontend-complex-tabs {
        display: inline-flex;
        flex-direction: row;

        & .carbon-fields-frontend-complex-tab-list {
            flex-direction: row
        }

        & .carbon-fields-frontend-complex-tab-add {
            width: 50px;

            height: fit-content;
            align-self: flex-end;
        }
    }
}

@media (min-width:700px) {
    .carbon-fields-frontend-complex-field.tabbed-vertical {
        display: flex;
        flex-direction: row;
        gap: var(--fields-gap);

        & .carbon-fields-frontend-complex-tabs {
            display: flex;
            flex-direction: column;
            width: 20%;

            & .carbon-fields-frontend-complex-tab-list {
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                gap: var(--tab-gap)
            }

            & .carbon-fields-frontend-complex-tab-add {
                width: 100%;
            }

        }


        & .carbon-fields-frontend-complex-tab,
        & .carbon-fields-frontend-complex-tab-add {
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-align: center;
            text-overflow: ellipsis;

            border-radius: var(--field-border-radius);

            &:after {
                all: unset;
            }
        }

        & .carbon-fields-frontend-complex-items {
            flex-grow: 1;
            width: 35%;
        }
    }
}

/* ===== Remove Button ===== */
.carbon-fields-frontend-complex-remove-wrapper {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: right;
    background: #00000007;
    padding: 10px;
    border-radius: var(--field-border-radius);
    border: 1px solid var(--border-color);
}

.carbon-fields-frontend-complex-remove {
    width: 2em;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 0.2em;
    background: var(--color-danger);
    color: white;
    transition: background 0.2s;
}

.carbon-fields-frontend-complex-remove:hover {
    background: color-mix(in srgb, var(--color-danger) 80%, black 20%);
}

/* ===== Add First (empty state) ===== */
.carbon-fields-frontend-complex-add-first {
    display: none;
    width: 100%;
    gap: var(--fields-gap);

    & p {
        font-size: .8em;
        opacity: .8;

    }
}

.carbon-fields-frontend-complex-tabs {
    display: flex;
    flex-direction: row;
    gap: var(--tab-gap)
}

.carbon-fields-frontend-complex-field:has(> .carbon-fields-frontend-complex-items > .carbon-fields-frontend-complex-item:only-child) {

    &>.carbon-fields-frontend-complex-tabs {
        display: none;
    }

    & .carbon-fields-frontend-complex-add-first {
        display: flex;
        flex-direction: column;
    }
}

/* ===== Hide empty tabs/items ===== */
.carbon-fields-frontend-complex-tab-list,
.carbon-fields-frontend-complex-items {
    &:not(:has(.active)) {
        display: none !important;
    }
}

/* ===== Textarea adjustments ===== */
textarea {
    min-height: 200px;
}

button.carbon-fields-frontend-btn {
    padding: 0 var(--field-padding);
    height: var(--field-height);
    width: fit-content !important;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    border-radius: var(--field-border-radius);

    &:hover {
        border-color: var(--primary-color);
        background-color: color-mix(in srgb, var(--primary-color) 80%, black 20%);
        color: white;
    }
}

.required {
    transition: background-color 0.5s ease;

    &>.carbon-fields-frontend-complex-tabs>.carbon-fields-frontend-complex-tab-list>.carbon-fields-frontend-complex-tab.active,
    >.carbon-fields-frontend-complex-items>.carbon-fields-frontend-complex-item {
        border-color: #ff4343ff !important;
        --container-bg: #fcf2f2ff !important;

    }
}

.submitting {

    position: relative;

    .carbon-fields-frontend-containers {
        filter: blur(2px);
    }

    &::after {
        opacity: 1;
    }
}



.carbon-fields-frontend-notice-wrapper {

    font-size: 1em;
    display: none;

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em;
    gap: 1em;
    pointer-events: none;

    &:has(:first-child) {
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: start;
    }

    & .carbon-fields-frontend-notice {
        pointer-events: all;
        color: black;
        width: 350px;
        max-width: 100%;
        height: fit-content;
        border-radius: .5em;
        overflow: hidden;
        animation: noticeIn 0.25s ease-out;
        flex-shrink: 0;

        background-color: #eaecee;
        box-shadow:
            0 4px 12px rgba(0, 0, 0, 0.12),
            0 1px 3px rgba(0, 0, 0, 0.08);


        & .carbon-fields-frontend-notice-header {
            padding: .7em 1em;
            display: flex;
            align-items: center;
            gap: .6em;
            background-color: white;
        }

        & .carbon-fields-frontend-notice-title {
            font-weight: 600;
            line-height: 1.2;
            flex: 1;
        }

        /* Ícones (estado e fechar) */
        & svg {
            display: block;
            width: 1.4em;
            height: 1.4em;
            flex-shrink: 0;
        }




        & p {
            margin: 0;
            font-size: .9em;
            padding: .6em 1.2em;
            line-height: 1.4;
        }

        & .carbon-fields-frontend-notice-close {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 1.4em;
            aspect-ratio: 1;
            border-radius: .3em;

            cursor: pointer;
            background-color: var(--color-danger);
            color: white;
        }

        & .carbon-fields-frontend-notice-close svg {
            width: 1em;
            aspect-ratio: 1;
        }

        & .carbon-fields-frontend-notice-close:hover {
            background-color: color-mix(in srgb, var(--color-danger) 80%, black 20%);
        }
    }

    & .carbon-fields-frontend-notice-loader {
        width: 10%;
        height: .25em;
        background: var(--primary-color);

        animation: width 5.2s linear forwards;
    }
}


@keyframes noticeOut {
    from {
        opacity: 1;
        transform: translateY(0);
        max-height: 200px;
    }

    to {
        opacity: 0;
        transform: translateY(20px);
        max-height: 0;
    }
}

.carbon-fields-frontend-notice.is-removing {
    animation: noticeOut 0.25s ease forwards;
    margin-bottom: 0;
    padding-bottom: 0;
}


@keyframes width {
    from {
        width: 20%;
    }

    to {
        width: 100%;
    }
}

@keyframes noticeIn {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== ESTADOS ===== */

.carbon-fields-frontend-notice.success {

    /* verde clássico */

    .carbon-fields-frontend-notice-loader {

        background: #2e7d32;

        animation: width 5.2s linear forwards;
    }

    & svg.info-icon {
        color: #2e7d32;
    }
}

.carbon-fields-frontend-notice.error {

    /* Vermelho */

    .carbon-fields-frontend-notice-loader {

        background: var(--color-danger);

        animation: width 5.2s linear forwards;
    }

    & svg.info-icon {
        color: var(--color-danger);
    }
}



@media (max-width:700px) {
    :root {
        --container-padding: .8em;
    }

    .carbon-fields-frontend-form {
        font-size: 13.5px;
    }

    .carbon-fields-frontend-containers {
        & .crossref-field {
            gap: .5em;
            min-width: 40%;
            min-width: 40%;

            & label {
                margin: 0
            }
        }
    }

    .carbon-fields-frontend-help {
        font-size: .8em;
        line-height: 1.3em;
    }

    .carbon-fields-frontend-notice-title {
        font-size: .9em;
    }

}