/* DETALHES DO LIVRO */

.postbox .inside {
    padding: .7em !important
}

/* DOI */

.crossref-doi-field {
    display: inline-block;
    width: 270px;
    padding: 0 0.7em;
    height: 40px;
    font-size: 1em;
    border: solid #17171757 1px;
    border-radius: 0;
    line-height: normal;
    color: black;
}

.crossref-doi-msg {
    margin-top: 10px;
    font-size: 0.9em;
}




.button-effects {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 .7em #bd0000a0;
    animation: pulsar-sombra 2s infinite;
    border-radius: 10px;
    background-color: #c20020 !important;
    color: white !important;
    font-weight: 500;
    border: none !important;
    width: 240px !important;
}

.button-effects:hover {
    transform: scale(1.05);
}

@keyframes pulsar-sombra {
    0% {
        box-shadow: 0 0 0 0em #bd0000a0;
    }

    100% {
        box-shadow: 0 0 0 .7em #fff0;
    }
}

.button-effects:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20em;
    width: 30em;
    height: 10em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: .2;
    transform: rotate(75deg);
    filter: blur(2em);
    z-index: 1;
    pointer-events: none;
}

@keyframes shine-smaller {
    0% {
        left: -20em;
    }

    100% {
        left: 150%;
    }
}

.button-effects:before {
    animation: shine-smaller 1.2s ease-in-out infinite;
}


.cf-block-preview .cf-field__label,
.cf-html .cf-field__label,
.cf-separator .cf-field__label {
    display: block !important;
}

[data-doi="crossref"] {
    width: 100% !important;
}

.cf-hidden {
    display: none
}

.crossref-disabled {
    filter: grayscale(100%) brightness(90%);
    opacity: .6;
    transition: all 1.4s !important
}




[name="carbon_fields_compact_input[_jats_abstract]"] {

    field-sizing: content;
    min-height: 200px
}

.cf-field__help {
    text-wrap: balance;
}

.cf-complex__placeholder-label.cf-complex__placeholder-label {
    margin: 0 0 10px 0 !important;
}

/* Substitua .menu-item-crossref pelo seletor correto do item de menu */
#toplevel_page_crb_carbon_fields_container_crossref .wp-menu-image {

    background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 67 96' width='67' height='96'%3E%3Cstyle%3E .s0 %7B fill: %233eb1c8 %7D .s1 %7B fill: %23d8d2c4 %7D .s2 %7B fill: %234f5858 %7D .s3 %7B fill: %23ffc72c %7D .s4 %7B fill: %23ef3340 %7D %3C/style%3E%3Cg%3E%3Cpath fill-rule='evenodd' class='s0' d='m0.8 95.5v-28.7l23.6-7.8 41.8 14.3z'/%3E%3Cpath fill-rule='evenodd' class='s1' d='m42.6 36.8l-41.8 14.4 23.6 7.8 41.8-14.4z'/%3E%3Cpath fill-rule='evenodd' class='s2' d='m24.4 59l41.8-14.4v28.7z'/%3E%3Cpath fill-rule='evenodd' class='s3' d='m66.2 0.3v28.7l-23.6 7.8-41.8-14.3z'/%3E%3Cpath fill-rule='evenodd' class='s4' d='m42.6 36.8l-41.8 14.4v-28.7z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;

    margin-right: 8px;
    /* espaço entre o ícone e o texto */
    vertical-align: middle;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        content: "";
    }
}

.cf-file__browse_new {
    z-index: 1;
}

.cf-complex__tabs-item span {

    width: fit-content !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    max-width: 200px !important;
    text-align: center !important;
    text-overflow: ellipsis !important;


}